<!-- HERENCIA DE BASE -->
{% extends "core/base.html" %}

<!-- CARGA LOS ESTATICOS -->
{% load static %}

<!-- TITULO DINAMICO -->
{% block titulo %} Bienvenido {% endblock titulo %}

<!-- CONTENIDO PRINCIPAL -->
{% block contenido_principal %}


{% for post in posts %}
{% if forloop.first and posts.number == 1 %}
{% if request.path == '/' %}
<!-- ULTIMO POST - ARRIBA DE TODO -->
<div class="p-4 p-md-5 mb-4 rounded text-bg-info">
  <div class="col-md-12 px-0">
    <h1 class="display-4 fst-italic text-white">{{post.title}}</h1>
    <p class="lead my-3">{{post.lead}}</p>
    <p class="lead mb-0"><a href="{% url 'post' post.id %}" class="text-white fw-bold">Seguir leyendo...</a>
    </p>
  </div>
</div>
{% endif %}
{% else %}
<!-- TODOS LOS POST MENOS EL PRIMERO -->
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-7">
      <div class="card-body">
        <strong class="d-inline-block mb-2 text-primary">{{post.categoty}}</strong>
        <h4 class="mb-0">{{post.title}}</h4>
        <div class="mb-1 text-muted">{{post.created|date:"d M Y"}}</div>
        <p class="card-text mb-auto">{{post.lead}}</p>
        <p class="card-text"><small class="text-muted"><a href="{% url 'post' post.id %}" class="stretched-link">Seguir
              leyendo</a></small></p>
      </div>
    </div>
    <div class="col-md-5">
      <img src="{{ post.image.url }}" class="img-fluid rounded-end float-end" alt="{{post.title}}">
    </div>
  </div>
</div>
{% endif %}
{% empty %}
<div class="alert alert-danger" role="alert">
  Aun no hay posts publicados
</div>
{% endfor %}

<!-- NAVEGACION ENTRE ARTICULOS MAS ANTIGUOS - PAGINACION -->
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">

    <li class="page-item">
      <a class="page-link" href="?page=1">Inicio</a>
    </li>
    <li class="page-item {% if posts.number == 1 %} disabled {% endif %}">
      <a class="page-link"
        href="{% if posts.number != 1 %}?page={{ posts.previous_page_number }} {% endif %}">Anterior</a>
    </li>

    {% for i in pages %}
    <li class="page-item {% if posts.number == forloop.counter %}active{% endif %}">
      <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
    </li>
    {% endfor %}

    <li class="page-item {% if posts.number == posts.paginator.num_pages %} disabled {% endif %}">
      <a class="page-link"
        href="{% if posts.number != posts.paginator.num_pages %}?page={{ posts.next_page_number }}{% endif %}">Siguiente</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ posts.paginator.num_pages }}">Ultima</a>
    </li>

  </ul>
</nav>

{% if request.path != '/' %}
<div class="my-3">
  <a class="btn btn-success rounded-pill" href="{% url 'inicio' %}">Volver al Inicio</a>
</div>
{% endif %}

{% endblock contenido_principal %}